<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="utf-8">
    <script>
      let dbg = a => {console.log(a); return a};
      'use strict';
      class FilterSortTable {
	  constructor(tableNode, commands) {
	      this.tableNode = tableNode

	      this.sortKey = null;
	      this.sortAsc = true;
	      this.table = [...this.tableNode.querySelectorAll('tbody tr')]
		  .map( a => ({
		      line: a,
		      content: [...a.querySelectorAll('td')]
			  .map(b =>
			      ((c => c.length &&
				c.map(d => d.textContent).join(' ')
			      )([...b.querySelectorAll('.hidden-content')]) ||
				  b.textContent || b.innerText
			      ).normalize('NFD').replace(/[\u0300-\u036f]/g, '')
			  ),
		  }));
	      this.nResultBox = commands.querySelector('.result-number');
	      this.filterBox = commands.querySelector('.filter-query');
	      this.filterBox.addEventListener('keyup', a => this.filter());

	      var th = [...this.tableNode.querySelectorAll('thead  th')];
	      for (let i = 0; i < th.length; i++) {
		  th[i].addEventListener('click', a => this.sort(i));
	      }

	      this.filter();

	      this.showHideCheckboxes = [... commands.querySelectorAll('.show-hide')];
	      this.showHideCheckboxes.forEach(cb => {
		  cb.addEventListener('click', a => this.showHide(cb));
		  this.showHide(cb);
	      });

	      [...this.tableNode.querySelectorAll('span.click-to-search')]
		  .map(a => this.handleClickToSearch(a));

	      this.clearButton = commands.querySelector('.clear');
	      this.clearButton.addEventListener('click', a => this.clear())
	  }

	  sort(key) {
	      if (key != this.sortKey) {
		  this.sortAsc = true;
	      }
	      const compare = (f =>
		  this.sortAsc ? ((a,b) => f(a,b)) : ((a,b) => f(b,a))
	      )(
		  (a, b) => a.content[key].localeCompare(b.content[key])
	      );
	      this.table.sort(compare);

	      this.table.forEach( a =>
		  this.tableNode.appendChild(a.line));

	      this.sortKey = key;
	      this.sortAsc = !this.sortAsc;
	  }

	  filter() {
	      const lineMatch = (content, filter) => filter.every(
		  b => content.some(
		      a => a.toUpperCase().indexOf(b) > -1));

	      const filter = this.filterBox.value
		    .normalize('NFD').replace(/[\u0300-\u036f]/g, '')
		    .toUpperCase().trim().split(" ");
	      var nResult = 0;
	      this.table.forEach(a => {
		  if (lineMatch(a.content, filter)) {
		      a.line.style.display = "";
		      nResult++;
		  } else {
		      a.line.style.display = "none";
		  }
	      });
	      this.nResultBox.innerText = nResult.toString();
	  }

	  handleClickToSearch(element) {
	      let query = (e => e && (e.textContent || e.innerText)
			  )(element.querySelector('.hidden-content'));
	      element.addEventListener('click', e => {
		  this.filterBox.value = query;
		  this.filter();
	      });
	  }

	  showHide(checkBox) {
	      const disp = checkBox.checked ? "" : "none";
	      this.tableNode.querySelectorAll("." + checkBox.id)
		  .forEach(a => a.style.display = disp);
	  }

	  clear() {
	      this.filterBox.value = '';
	      this.filter();
	  }

      }


      function onLoad() {
	  new FilterSortTable(document.getElementById("bibtable"),
			      document.getElementById("commands")
			     );
      }
    </script>
    <style>
      .hidden-content {
	  display: none;
      }

      .katex-html {
	  display: none;
      }

      a.no-decoration {
	  text-decoration-line: none;
      }

      .click-to-search {
	  white-space: nowrap;
	  color: blue;
	  cursor: pointer;
      }
    </style>
    <title>Bibliography</title>
  </head>
  <body onload="onLoad();">
    <form id="commands">
    <input type="text" class="filter-query">
    <button type="button" class="clear">Clear</button>
    <span id="result-info">
      No. of entries: <span class="result-number"></span>.
    </span>

    <span id="show-hide-checkboxes">
      Show: 
      <label for="key"><input type="checkbox" id="key" class="show-hide">Key</label>
      <label for="type"><input type="checkbox" id="type" class="show-hide">Type</label>
      <label for="date"><input type="checkbox" id="date" class="show-hide">Date</label>
    </span>
    </form>
    <table id="bibtable">
      <thead>
      <tr class="header">
	<th class="key" style="width:4%;">Key</th>
	<th class="type" style="width:4%;">type</th>
	<th class="date" style="width:4%;">Date</th>
	<th class="author" style="width:20%;">Author</th>
	<th style="width:50%;">Title</th>
	<th style="width:20%;">Journal</th>
      </tr>
      </thead>
      <tbody>
      {% for entry in biblio %}
      {% set title = entry.title_html %}
      {% if var.no_math %}
      {% set title = entry.title | e %}
      {% endif %}
      <tr class="body">
	<td class="key">{{ entry.key or '' }}</td>
	<td class="type">{{ entry.bib_type or '' }}</td>
	<td class="date">{{ entry.date or '' }}</td>
	<td class="author">
	  {% for author in entry.author_list -%}
	  <span class="click-to-search"><span class="hidden-content">
	      {{- author.name }} {{ author.surname -}}
	    </span>
	      {{- author.name | abbreviate_name }} {{ author.surname -}}
	  </span>
	  {%- if not loop.last and loop.length > 2 -%}, {% endif -%}
	  {% if loop.revindex0 == 1 %} and {% endif %}
	  {% endfor %}
	</td>
	<td class="title">
	  {% if entry.file %}
	  <a class="no-decoration" href="{{ entry.file|urlencode }}">{{ title | safe }}</a>
	  {% else %}{{ title | safe }}{% endif %}
	</td>
	<td class="journal">
	  {% if entry.url %}
	  <a class="no-decoration" href="{{ entry.url }}">{{ entry.journal or entry.note or '' }}</a>
	  {% elif entry.doi %}
	  <a class="no-decoration" href="https://doi.org/{{ entry.doi|urlencode }}">{{ entry.journal or entry.note or '' }}</a>
	  {% else %}
	  {{ entry.journal or entry.note or '' }}
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
</html>
