<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bibliography</title>
    <script>
      function lineMatch(td, filter) {
	  var  j, k, txtValue, foundFilter;
	  for (k = 0; k < filter.length; k++) {
	      foundFilter = false;
	      for (j = 0; j < td.length; j++) {
		  txtValue = td[j].textContent || td[j].innerText;
		  if (txtValue.toUpperCase().indexOf(filter[k]) > -1) {
		      foundFilter = true;
		      break;
		  }
	      }
	      if (foundFilter == false) {
		  return false;
	      }
	  }
	  return true;
      }

      function filter() {
	  var input, filter, table, tr, td, i;
	  input = document.getElementById("myInput");
	  if (input) {
	      filter = input.value.toUpperCase().trim().split(" ");
	  } else {
	      return;
	  }
	  table = document.getElementById("bibtable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 1; i < tr.length; i++) {
	      td = tr[i].getElementsByTagName("td");
	      if (lineMatch(td, filter)) {
		  tr[i].style.display = "";
	      } else {
		  tr[i].style.display = "none";
	      }
	  }
      }

      function showHide(checkbox) {
	  var table, elements, hide, i, disp, cl;
	  if (checkbox.checked == true) {
	      disp = "";
	  } else {
	      disp = "none";
	  }
	  cl = checkbox.id;
	  table = document.getElementById("bibtable");
	  elements = table.getElementsByClassName(cl);
	  for (i = 0; i<elements.length; i++) {
	      elements[i].style.display = disp;
	  }
      }

      function onLoad() {
	  var cb_div, cb_list, i;
	  filter();
	  cb_div = document.getElementById("show-hide-checkboxes");
	  cb_list = cb_div.getElementsByTagName("input");
	  for (i = 0; i < cb_list.length; i++) {
	      showHide(cb_list[i]);
	  }
      }
    </script>
  </head>
  <body onload="onLoad();">
    <input type="text" id="myInput" onkeyup="filter()" placeholder="Search for names..">
    <span id="show-hide-checkboxes">
      Show: 
      <label for="key"><input type="checkbox" id="key" class="show-hide" onclick="showHide(this);">Key</label>
      <input type="checkbox" id="type" class="show-hide" onclick="showHide(this);">
      <label for="type">Type</label>
      <input type="checkbox" id="date" class="show-hide" onclick="showHide(this);" checked>
      <label for="date">Date</label>
    </span>
    <table id="bibtable">
      <tr class="header">
	<th class="key" style="width:4%;">Key</th>
	<th class="type" style="width:4%;">type</th>
	<th class="date" style="width:4%;">Date</th>
	<th class="author" style="width:20%;">Author</th>
	<th style="width:50%;">Title</th>
	<th style="width:20%;">Journal</th>
      </tr>
      {% for entry in biblio %}
      <tr class="body">
	<!---	<td class="author">{{ entry.author }}</td> --->
	<td class="key">{{ entry.key or '' }}</td>
	<td class="type">{{ entry.bib_type or '' }}</td>
	<td class="date">{{ entry.date or '' }}</td>
	<td class="author">
	  {% for author in entry.author_list[:-1] %}
	  {{ author.name[0:1] }}.
	  {{ author.surname }},
	  {% endfor %}
	  {{ entry.author_list[-1].name[0:1] }}.
	  {{ entry.author_list[-1].surname }}
	</td>
	<td class="title">
	  {% if entry.file %}
	  <a href="{{ entry.file }}">{{ entry.title }}</a>
	  {% else %}{{ entry.title }}{% endif %}
	</td>
	<td class="journal">
	  {% if entry.url %}
	  <a href="{{ entry.url }}">{{ entry.journal or entry.note or '' }}</a>
	  {% elif entry.doi %}
	  <a href="https://doi.org/{{ entry.doi }}">{{ entry.journal or entry.note or '' }}</a>
	  {% else %}
	  {{ entry.journal or entry.note or '' }}
	  {% endif %}
	</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
